.blank-box
{
    height: 90px;
}


.herosection-container
{
    height: 90vh;
    width: 100%;
}

.hero-box
{
    height: 100%;
    background-image: url(./img/hero\ image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title
{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}